<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body style="background: #0414a7; margin: 0; padding: 0; color: #e0e2f4; font-family: 'VT323', monospace; font-size: 20px;">
<main style="width: 90%; margin: auto; max-width: 640px; padding-top: 10%;">
    <h1 style="text-align: center; color: #0414a7; font-size: 2.75rem; margin-bottom: 50px;">
        <span style="background: #aaaaaa; padding: 0 15px 2px 13px;">Error - 404</span>
    </h1>
    <p style="font-size: 20px;">An error has occurred, to continue:</p>
    <p style="font-size: 20px;">* Return to our homepage.<br /></p>

    <nav style="margin-top: 35px; text-align: center;">
        <a href="/" style="text-decoration: none; padding: 0 9px 2px 8px; color: #e0e2f4;"
           onmouseover="this.style.background='#aaaaaa'; this.style.color='#0414a7';"
           onmouseout="this.style.background='transparent'; this.style.color='#e0e2f4';">
            back to index
        </a>
    </nav>
</main>
</body>
</html>