<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Status History</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Status History for <span th:text="${service}"></span></h1>
<a href="/">Back</a>
<!-- History Table -->
<h2>Service Status History</h2>
<table>
    <tr>
        <th>Service</th>
        <th>Status</th>
        <th>Timestamp</th>
    </tr>
    <tr th:each="entry : ${history}">
        <td th:text="${entry.name}"></td>
        <td th:text="${entry.currentState}"></td>
        <td th:text="${entry.timestamp}"></td>
    </tr>
</table>


</body>
</html>