<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ID Austria Uptime</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>ID Austria Uptime Monitor</h1>

<div th:each="serviceTable : ${serviceStatuses}">
    <h2 th:text="${serviceTable.key}"></h2>
    <table>
        <tr>
            <th>Service</th>
            <th>Aktueller Status</th>
            <th>Letzte Statusänderung</th>
            <th>Uptime (%)</th>
            <th>Details</th>
        </tr>
        <tr th:each="entry : ${serviceTable.value}">
            <td th:text="${entry.name}"></td>
            <td th:text="${entry.currentState}"></td>
            <td th:text="${entry.timestamp}"></td>
            <td th:text="${#numbers.formatDecimal(uptimePercentages[serviceTable.key], 1, 2) + '%'}"></td>
            <td><a th:href="@{'/history/' + ${entry.name}}">Übersicht</a></td>
        </tr>
    </table>
</div>

</body>
</html>