<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ID Austria Status</title>
</head>
<body>
<h1>ID Austria Status Monitor</h1>
<table border="1">
    <tr>
        <th>Service</th>
        <th>Status</th>
        <th>Timestamp</th>
    </tr>
    <tr th:each="status : ${statuses}">
        <td th:text="${status.name}"></td>
        <td th:text="${status.currentState}"></td>
        <td th:text="${status.timestamp}"></td>
    </tr>
</table>
<a href="/history">Übersicht der letzten Statusänderungen</a>
</body>
</html>
